<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.wx.com.wqy.wx.back.plus2.mapper.TProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wqy.wx.com.wqy.wx.back.plus2.entity.TProduct">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="pro_name" property="proName"/>
        <result column="key_words" property="keyWords"/>
        <result column="pro_image" property="proImage"/>
        <result column="price_old" property="priceOld"/>
        <result column="price_new" property="priceNew"/>
        <result column="memo" property="memo"/>
        <result column="click" property="click"/>
        <result column="status" property="status"/>
        <result column="cid" property="cid"/>
        <result column="pro_number" property="proNumber"/>
        <result column="pro_out" property="proOut"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_time,
        pro_name,
        key_words,
        pro_image,
        price_old,
        price_new,
        memo,
        click,
        status,
        cid,
        pro_number,
        pro_out
    </sql>

</mapper>
