<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.wx.com.wqy.wx.back.plus2.mapper.TProductCatesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wqy.wx.com.wqy.wx.back.plus2.entity.TProductCates">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="cates_name" property="catesName"/>
        <result column="status" property="status"/>
        <result column="class_id" property="classId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        create_time,
        cates_name,
        status,
        class_id
    </sql>

</mapper>
