<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.modules.shopping.mapper.ShCartMapper">
    <!--查询全部-->
    <select id="selectAll" resultType="com.wqy.modules.shopping.entity.ShCart">
        select * from sh_cart where user_id=#{userId}
    </select>
    <!--添加-->
    <insert id="addCart" parameterType="com.wqy.modules.shopping.entity.ShCart">
        INSERT INTO sh_cart ( id,goods_id,goods_attr_ids,goods_number,user_id )  VALUES   ( #{id},#{goodsId},#{goodsAttrIds},#{goodsNumber},#{userId})
    </insert>
    <!--修改-->
    <update id="updateCart" parameterType="com.wqy.modules.shopping.entity.ShCart">
        update sh_cart set goods_number=#{goodsNumber}
        <where>
            user_id=#{userId} and goods_id=#{goodsId}
        </where>
    </update>
    <!--删除-->
    <delete id="deleteCart" parameterType="String">
        delete from sh_cart where goods_id=#{goodsId} and user_id=#{userId};
    </delete>

</mapper>