<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.modules.shopping.mapper.ShGoodsMapper">
    <!--查询全部-->
    <select id="selectAll" resultType="com.wqy.modules.shopping.entity.ShGoods">
        select * from sh_goods
        <if test="goodsName!=null and goodsName!=''">
            where goods_name=#{goodsName}
        </if>

    </select>
    <!--添加-->
    <insert id="addGoods" parameterType="com.wqy.modules.shopping.mapper.ShGoodsMapper">
        INSERT INTO sh_goods ( id,goods_name,goods_sn,goods_price,goods_number,type_id,cat_id,goods_img,goods_thumb,is_sale,is_new,is_best,is_hot,goods_desc,create_time,update_time)  VALUES
                  ( #{id},#{goodsName},#{goodsSn},#{goodsPrice},#{goodsNumber},#{typeId},#{catId},#{goodsImg},#{goodsThumb},#{isSale},#{isNew},#{isBest},#{isHot},#{goodsDesc},#{createTime},#{updateTime})
    </insert>
    <!--修改-->
    <update id="updateGoods" parameterType="com.wqy.modules.shopping.mapper.ShGoodsMapper">
        update sh_goods set goods_name=#{goodsName},goods_sn=#{goodsSn},goods_price=#{goodsPrice},goods_number=#{goodsNumber},type_id=#{typeId},cat_id=#{catId},goods_img=#{goodsImg},goods_thumb=#{goodsThumb},is_sale=#{isSale}, is_new=#{isNew},is_best=#{isBest},is_hot=#{isHot},goods_desc=#{goodsDesc},update_time=#{updateTime}
        <where>
            id=#{id}
        </where>
    </update>
    <!--删除-->
    <delete id="deleteGoods" parameterType="String">
        delete from sh_goods where id=#{id}
    </delete>
    <!--上架-->
    <update id="putawayGoods" parameterType="String">
        update sh_goods set is_sale=1
          <where>
              id=#{id}
          </where>
    </update>
    <!--下架-->
    <update id="soldOutGoods" parameterType="String">
        update sh_goods set is_sale=0
        <where>
            id=#{id}
        </where>
    </update>
    <!--通过id查询-->
    <!--<select id="selectById" resultType="com.wqy.modules.shopping.mapper.ShGoodsMapper">
        select * from sh_goods
        <where>
            id=#{id}
        </where>
    </select>-->
</mapper>