<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.modules.shopping.mapper.ShOrderMapper">
    <!--查询全部-->
    <select id="selectByOrderId" resultType="com.wqy.modules.shopping.entity.ShOrder">
        select * from sh_order
       <where>
           order_id=#{orderId}
       </where>
    </select>

    <!--修改-->
    <update id="updateOrder" parameterType="com.wqy.modules.shopping.entity.ShOrder">
        update sh_order set order_id=#{order_id},receiver=#{receiver},address=#{address},tel=#{tel},zcode=#{zcode},total_price=#{totalPrice},member_id=#{memberId},pay_status=#{payStatus},send_status=#{sendStatus},ali_order_id=#{aliOrderId},company=#{company},number=#{number},create_time=#{createTime},update_time=#{updateTime}
        <where>
            id=#{id}
        </where>
    </update>
</mapper>