<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.wx.back.plus4.mapper.HotelUserhotelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wqy.wx.back.plus3.entity.HotelUserhotel">
        <id column="id" property="id" />
        <result column="hotel_id" property="hotelId" />
        <result column="address" property="address" />
        <result column="tell" property="tell" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hotel_id, address, tell, user_id
    </sql>

</mapper>
