<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wqy.wx.back.plus3.mapper.ShOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wqy.wx.back.plus3.entity.ShOrder">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="receiver" property="receiver"/>
        <result column="address" property="address"/>
        <result column="tel" property="tel"/>
        <result column="zcode" property="zcode"/>
        <result column="total_price" property="totalPrice"/>
        <result column="member_id" property="memberId"/>
        <result column="pay_status" property="payStatus"/>
        <result column="send_status" property="sendStatus"/>
        <result column="ali_order_id" property="aliOrderId"/>
        <result column="company" property="company"/>
        <result column="number" property="number"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        ,
        order_id,
        receiver,
        address,
        tel,
        zcode,
        total_price,
        member_id,
        pay_status,
        send_status,
        ali_order_id,
        company,
        number,
        create_time,
        update_time
    </sql>

</mapper>
